python-dotenv==1.0.1
streamlit==1.25.0
pandas==2.2.3

# LangChain & related modules
langchain==0.3.9
langchain-core==0.3.21
langchain_community==0.3.8
langchain_huggingface==0.1.2
langchain_openai==0.2.10
pillow
deeplake[enterprise]==3.9.38  # or your last working version
sentence-transformers==3.3.1
transformers==4.46.3
huggingface-hub==0.26.3

openai==1.55.3

